@font-face {
	font-family: bitter;
	src: url(../bitter.ttf);
}
@font-face {
	font-family: fira-code;
	src: url(../fira_code.ttf);
}
html, body, button {
	background: #E5D0FF;
	color: #000;
	max-width: 600px;
	font-size: 16pt;
	font-family: bitter;
	text-align: center;
	margin: 0 auto;
	padding: 0;
	border: 0;
	white-space: 0;
	display: block;
	image-rendering: pixelated;
}
img {
	vertical-align: middle;
}
button {
	cursor: pointer;
}
a {
	color: inherit;
	text-decoration: none;
}
p > a:hover {
	text-decoration: underline;
}
#essay {
	margin-right: 10%;
	margin-left: 10%;
}
#essay > br {
	display: block;
	margin: 0.3em;
}
#header, #footer {
	color: #503AA8;
}
.accordian {
	font-weight: 900;
	font-size: 1.25em;
	padding: 0.83em;
	margin: 0.6rem auto 0;
	border: 0.4rem;
	border-style: solid;
	border-color: #342b8d;
	border-top-color: #ca90ee;
	color: #E5D0FF;
	background: linear-gradient(#835acf, #503AA8) no-repeat;
	font-variant: small-caps;
	width: 96%;
	transition: color 0.125s ease, letter-spacing 0.125s ease, font-size 0.125s ease;
}
.accordian:hover, .accordian:focus-visible {
	border-color: #503AA8;
	border-top-color: #df9ff6;
	color: #FFF;
	background: linear-gradient(#9e65e4, #503AA8) no-repeat;
	letter-spacing: 0.0625rem;
}
.open {
	font-size: 1.25em;
	border-color: #503AA8;
	border-top-color: #df9ff6;
}
#green_button {
	margin: 0.6rem auto 0;
	border: 0.4rem;
	border-style: solid;
	border-color: #338d2b;
	border-top-color: #d8ee90;
	color: #f5ffd0;
	background: linear-gradient(#a2cf5a, #54a83a) no-repeat;
	width: 90%;
	transition: color 0.125s ease, letter-spacing 0.125s ease, font-size 0.125s ease;
	font-family: fira-code;
	font-weight: 900;
	padding: 0.3rem;
}
#green_button:hover, #green_button:focus-visible {
	border-color: #54a83a;
	border-top-color: #edf69f;
	color: #FFF;
	background: linear-gradient(#d1e465, #54a83a) no-repeat;
	letter-spacing: 0.0625rem;
}
:focus-visible:not(.open), p > a:focus {
	outline-style: double;
	outline-width: 0.25rem;
	outline-color: #503AA8;
}
#green_button:focus-visible:not(.open) {
	outline-style: double;
	outline-width: 0.25rem;
	outline-color: #54a83a;
}
:focus-visible.open {
	outline-style: none;
	outline-width: 0.25rem;
	outline-color: #503aa8;
}
.accordian:active {
	display: block; /* tmp */
}
.content {
	background: #503AA8;
	color: #E5D0FF;
	overflow: hidden; /* backup in case next line doesn't work */
	overflow: -moz-hidden-unscrollable;
	max-height: 0;
	margin: 0 auto;
	padding-bottom: 0;
	width: 96%; /* 12 pixels in on either side of 600 */
	transition: max-height 0.125s ease, padding-bottom 0.125s ease;
}
#box-text {
	font-family: fira-code;
	border: 0.4rem;
	border-style: solid;
	background: #503AA8;
	border-color: #342b8d;
	border-bottom-color: #835acf;
	color: #E5D0FF;
	width: 90%;
	padding: 0.6rem 0;
	margin: 0 auto;
}